PORT=8080
NODE_ENV=production
MONGO_URI=mongodb://${MONGO_USER}:${MONGO_PASS}@mongodbb:27017/iot_db?authSource=admin
JWT_SECRET=super-secreto-inquebrantable
MQTT_BROKER=mqtt://mosquitto:1883
MQTT_USER=server
MQTT_PASS=server123
LOG_LEVEL=info
